{
  "presets": [
    "env",
    "stage-1",
    "react" 
  ],
  "plugins": [
    "transform-decorators",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ]
}